<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gf_webviewsample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.gf_webviewsample.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- GameFeat START -->
<meta-data android:name="gamefeat_site_id" android:value="2" />
<activity
	android:name="jp.basicinc.gamefeat.android.sdk.view.GameFeatAppActivity"
	android:configChanges="orientation|keyboardHidden"
	android:label="GameFeat" >
</activity>
<activity
  	android:name="jp.basicinc.gamefeat.android.sdk.view.GameFeatAppChildActivity"
  	android:configChanges="orientation|keyboardHidden"
	android:label="GameFeat"
	android:screenOrientation="sensor" >
</activity>
<receiver
	android:name="jp.basicinc.gamefeat.android.sdk.receiver.GameFeatBroadcastReceiver"
	android:enabled="true"
	android:exported="false">
	<intent-filter>
		<action android:name="android.intent.action.PACKAGE_ADDED"/>
		<data android:scheme="package"/>
	</intent-filter>
</receiver>
<!-- GameFeat END -->
    </application>

</manifest>